<body>
    <header>
        <h1>Restaurants</h1>
        <input type="text" placeholder="Find restaurants" name="search" [(ngModel)]="search">
        <button ><i class="pi pi-sort-amount-down">⠀</i>Sort by rating</button>
    </header>
    <main>
        <ul id="restaurant-list">
            <li class="restaurant-item"  *ngFor="let h of hotel | search:search">
                <img src="../../assets/res-images/res1.jpg" alt="Restaurant 1">
                <h2>{{h.hotelName}}</h2>
                <p>{{h.location}}</p>
                <p class="rating">{{h.rating}}</p>
                <p class="description">{{h.description}}</p>
            </li>
        </ul>
    </main>
    <script type="text/javascript" src="script.js"></script>
</body>
